<input type="checkbox" id="seance-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="center">
      <div class="avatar placeholder">
        <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
          <img src="assets/images/training.png" alt="avatar"/>
        </div>
      </div>
      <div>
        <h3 class="font-bold text-lg">{{sportObject.name}}</h3>
        <h4></h4>
      </div>
    </div>
    <div class="form-control">
      <label class="label ">
        <span class="label-text "><b>Description</b></span>
      </label>
      <label> <span class="label-text "><b>Debut : {{sportObject.dateStart}} </b> </span> </label>
      <label><span class="label-text "><b>Fin : {{sportObject.dateEnd}} </b></span> </label>
      <br>
      <p class="text-base"> {{sportObject.description}}</p>
    </div>
    <div class="flex-space-around">
      <div class="modal-action">
        <label for="seance-modal" class="btn">Retour</label>
      </div>
    </div>
  </div>
</div>
