<div class="challenge-propose-list"> 
    <h3 class="title-propose">Mes Challenges Proposés</h3>

    <div class="overflow-x-auto w-full">
        <table class="table w-full">
          <!-- head -->
          <thead>
            <tr>
              <th *ngIf="showButton"></th>
              <th>Sport</th>
              <th>Description</th>
              <th>Tag</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <tr *ngFor="let challenge of challArray">
              <td *ngIf="showButton">
                <label class="btn btn-choose" (click)="signInToAccept(challenge.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                </label>
              </td>
              <td>
                {{challenge.sport}}
              </td>
              <td>
                {{challenge.description}}
              </td>
              <td>
                {{challenge.tag}}
              </td>
            </tr>
          </tbody>
         
        </table>
      </div>
</div>
