 <div class="card w-80 bg-base-100 shadow-xl ">
    <figure><img src="{{seanceCard?.image}}" alt="picSport" /></figure>
    <div class="card-body">
      <h2 class="card-title">{{seanceCard?.name}}</h2>
      <p>{{seanceCard?.description}} </p>
      <div class="card-actions justify-between">

        <button class="btn btn-wide btn-primary" *ngIf="showRegisterToSeance()" (click)="registerOnSeance()">
          S'inscrire
        </button>
        <button class="btn btn-wide btn-outline" *ngIf="showCancelRegisterToSeance()" (click)="cancelRegistrationOnSeance()">
          Se désinscrire
        </button>
        <button  class="btn" (click)="challengeFriend()">Défier un ami</button>
        <label for="seance-modal" class="btn" >+ d'infos</label>
      </div>
    </div>
  </div>
 <app-seance-resume></app-seance-resume>

