 <div class="card w-80 bg-base-100 shadow-xl ">
    <figure><img src="assets/images/musculation.jpg" alt="picSport" /></figure>
    <div class="card-body">
      <h2 class="card-title">Musculation</h2>
      <p>Pompes, abdos, squats. Entretenez le corps dont vous avez toujours rever </p>
      <div class="card-actions justify-end">
        <button  class="btn" >Défier un ami</button>
        <label for="seance-modal" class="btn btn-primary">Details</label>
      </div>
    </div>
  </div>
 <app-seance-resume></app-seance-resume>

