<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
    <div class="modal-box">
        <div class="center">
            <div class="avatar placeholder">
                <div class="bg-neutral-focus text-neutral-content rounded-full w-24">
                    <span class="text-3xl">PG</span>
                </div>
            </div>
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Nom</span>
            </label>
            <input type="text" placeholder="" value="firstname" class="input" [disabled]="isEdit" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">Prénom</span>
            </label>
            <input type="text" placeholder="" value="lastname" class="input" [disabled]="isEdit" />
        </div>
        <div class="form-control">
            <label class="label">
                <span class="label-text">E-mail</span>
            </label>
            <input type="text" placeholder="" value="email" class="input" [disabled]="isEdit" />
        </div>

        <div class="flex-space-around">
            <div class="modal-action">
                <label class="btn" (click)="editForm()">Modifier</label>
            </div>
            <div class="modal-action">
                <label for="my-modal" class="btn">Retour</label>
            </div>
        </div>
    </div>
</div>
