<div class="navbar bg-base-100 navbar-color">
    <div class="flex-1">
      <p class="normal-case text-xl ">Extiaordinary</p>
    </div>
    <div class="flex-none gap-2">
      <div class="flex-1" *ngIf="!isAuth">
        <a class="btn btn-ghost normal-case text-xl">Connexion</a>
      </div>
      <div class="dropdown dropdown-end" *ngIf="isAuth">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="/src/assets/images/extia-logo.jpg"  />
          </div>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <label for="my-modal" class="btn">Profil</label>
          </li>
          <li><a>Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </div>

  <app-profil></app-profil>

