<div class="center">
    <div>
        <div>
            <a class="tab tab-bordered" [ngClass]="{'tab-active': currentTab === tab1}" (click)="setTab(tab1)">Classement</a> 
            <a class="tab tab-bordered" [ngClass]="{'tab-active': currentTab === tab2}" (click)="setTab(tab2)">Séances</a> 
            <a class="tab tab-bordered" [ngClass]="{'tab-active': currentTab === tab3}" (click)="setTab(tab3)">Challenges</a>
        </div>
    </div>
    <app-classement-list *ngIf="currentTab === tab1"></app-classement-list>
    <app-seance-list *ngIf="currentTab === tab2"></app-seance-list>
    <app-challenge-list *ngIf="currentTab === tab3"></app-challenge-list>
</div>
